* {margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  color: #000;
  font-family: 'SeoulNamsanM';
}
@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#wrap{width:100%; margin:0 auto;}
#header{width:100%; height: 100px; border-bottom: medium solid #31485F; }

.logo >a >img{
  float: left;
  margin-top: 25px;
  margin-left: 10px;
  width: 200px;
  height: 50px;
}
.nav{
  display: flex;
  line-height: 100px;
  float: right;
}
.nav> div{
  display: flex;
  justify-content:flex-end;
}
.nav > div >li{
  padding: 10px;
  font-size: 18px;
}
a:hover{
  background-color: #DDE8F4;
  border-radius: 5px;
  cursor: pointer;
}
#banner{width: 100%; height: 280px;}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 230px;
  margin-top: 30px;
}
p{
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
}
.popup{
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  top: 150px;
  right: 50px;
  border: none;
  background: #31485F;
  color: #fff;
  width: 150px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

#content2 {overflow: hidden;background-color: #DDE8F4;}
#content2 > .article_box1 {
  float: left;
  width: 33.3333%;
  height: 300px;
  position: relative;
}
#content2 > .article_box1 > a > img{
  width: 90%;
  opacity: 80%;
  border: solid #D6C2A6;
  border-radius: 20px;
  background-color: white;
  height: 250px;
  object-fit: contain;
}
#content2>.article_box1 > .text{
  position: absolute;
  top: 60px;
  width: 90%;
  height: 190px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(215, 220, 226, 0.7);
}
#content2 > .article_box1 > a >img:hover{
  opacity: 100%;
}
.article_box1 >a:hover~.text{
  display: none;
  cursor:pointer;
}
.text:hover > h3 . p{
  display: none;
  cursor: pointer;
}
#content2 > .article_box1 > .text >h3{
  padding-top: 30px;
  text-align: center;
}
#content2 > .article_box1 > .text > p{
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 50px;

}
}
footer > address > pre {width: 100%; height: 300px; background-color:#31485F;vertical-align: middle;line-height: 30px; display: flex;}
#footer > address > pre{
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  padding-left: 5%;
  background-color:#31485F;
  line-height: 30px;
  margin-top: 50px;
}
address > pre> a{
  color: #fff
}
  /* 화면 너비 0~1024px*/
  @media (max-width: 1024px){
    #wrap{width: 100%;}
    #content2 .article_box1 {width: 50%;}
    #content2 .article_box2 {width: 50%;}
    #content2 .article_box3 {width: 50%;}
  }
  @media (max-width: 768px){
    #header{display: flex; flex-direction: column; align-items: center; height: auto;}
    #header .nav .first{display: none;}
    #header .nav.active{display: flex;}
    #header .nav li{margin-top: 0px; margin: bottom: 0px;}

    }
    @media (max-width: 480px){
      #header{height:200px;}
      #header .nav{display: flex; flex-direction: column; align-items: center; line-height: 20px; margin-top: 20px;}
      #header .nav div{height: 50px;}
      #content2 .article_box1 {width: 100%; height: auto;}
      #content2 .article_box2 {width: 100%; height: auto;}
      #content2 .article_box3 {width: 100%; height: auto;}
